{% extends 'base.html.twig' %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fecc00;">
{% endblock %}

{% block title %}
    <span class="header-logo__title text-dark">OmdbFlix</span>
{% endblock %}

{% block connextionBtn %}
    <button type="button" class="btn btn-dark me-2">Connexion</button>
{% endblock %}

{% block searchBtn %}
    <button class="btn btn-outline-dark" type="submit"><i class="bi bi-search"></i></button>
{% endblock %}


{% block body %}

<div class="container bg-lighttt pt-5">

        <div class="row mb-2">

            <div class="col">

                <div
                    class="row g-0 borderrr rrrounded overflow-hidden flex-md-row align-items-start mb-4 shadow-smmm position-relative">
                    <div class="col-4 movie__poster img-thumbnail"
                        style="background-image: url({{ movie.poster }});">
                        <img src="{{ asset('images/poster-placeholder.png') }}" class="img-fluid">
                        <!-- img src="https://m.media-amazon.com/images/M/MV5BNThmZGY4NzgtMTM4OC00NzNkLWEwNmEtMjdhMGY5YTc1NDE4XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg" class="img-fluid" -->
                    </div>

                    <div class="col-8 p-4 d-flex flex-column position-static bg-light">
                        <a href="" class="movie__favorite fs-1 my-2 mx-3 link-warning"><i class="bi bi-bookmark-plus"></i></a>
                        <strong class="d-inline-block mb-2 text-primary">{{movie.type}}</strong>
                        <h3 class="mb-1">{{movie.title}}</h3>
                        <div class="mb-1 text-muted">{{movie.duration}} min</div>

                        <p>
                        {% for genre in movie.genres %}
                            <span class="badge bg-warning text-dark">{{ genre.name }}</span>
                        {% endfor %}
                        </p>

                        <p>{{ movie.synopsis }}</p>

                        <p class="mb-1">Note du film:</p>

                        {% include 'fragment/_star_rating.html.twig' %}

                        {% if movie.type == "Série" %}
                            <h2>{{ movie.seasons|length }} Saisons</h2>
                            <ul class="list-unstyled">
                            {% for season in movie.seasons %}
                                <li><span class="badge bg-warning fs-6 mb-2">Saison {{ season.number }}</span><small class="ms-1">({{ season.   episodesNumber }} épisodes)</small></li>
                            {% endfor %}
                            </ul>
                        {% endif %}    

                        <dl class="row">
                            <dt class="col-sm-12">Avec</dt>
                            <dd class="col-sm-12">
                            {# {% for casting in movie.castings | sort((a,b) => a.creditOrder <=> b.creditOrder) %} #}
                            {% for casting in castings %}
                                {% set counter = (counter | default(0)) + 1 %}
                                Acteur {{ counter }} - {{ casting.person.firstname }} {{ casting.person.lastname }} (dans le rôle de {{ casting.role }})<br>
                            {% endfor %}    
                            </dd>
                            <dt class="col-sm-12">Pays</dt>
                            <dd class="col-sm-12">USA</dd>
                            <dt class="col-sm-12">Année</dt>
                            <dd class="col-sm-12">{{ movie.releaseDate|date('Y') }}</dd>
                        </dl>

                        <div class="col-md-4">
                            <a href="{{ path('app_review', {id: movie.id}) }}" class="btn btn-warning mb-3 w-100" role="button">Ajouter un commentaire</a>
                        </div>

                        {# <div class="col-md-4">
                            <a href="{{ path('app_movie_review_add', {id: movie.id}) }}" class="btn btn-warning mb-3 w-100" role="button">Ajouter un commentaire v2</a>
                        </div> #}

                        {% for review in movie.reviews %}
                            <div class="border-top border-4 border-warning">
                                <p class="mt-3 mb-2">{{ review.content }}</p>
                                <p class="mb-0"><em>écrit le {{ review.publishedAt | date('Y-m-d') }} par {{ review.username }}</em></p>
                                <p class="mb-1"><em>vu le {{ review.watchedAt | date('Y-m-d')  }}</em></p>
                            </div>

                            {% if review.rating is defined and review.rating is not null %}
                                <div class="d-flex" style="color: orange;">
                                    <i class="bi bi-star-fill"></i>
                                        {% for i in 1..4 %}                                
                                            <i class="bi bi-star{{ review.rating >= (i + 1) ? '-fill' : '' }}{{ review.rating > i + 0.5 and review.rating < i + 1 ? '-half' : '' }}"></i>
                                        {% endfor %}
                                    <span class="ps-1">{{ review.rating }}</span>
                                </div>
                            {% endif %}

                            <p class="mt-2 mb-1">Ce film m'a donné envie de :  </p>
                            <div class="d-inline">
                                {% for reaction in review.reaction %}
                                        <p class="d-inline marginright">{{ reaction }}</p>
                                        {% if reaction == 'Rire' %}
                                            😀
                                        {% elseif reaction == 'Pleurer' %}
                                            😢
                                        {% elseif reaction == 'Réfléchir' %}
                                            🤔
                                        {% elseif reaction == 'Dormir' %}
                                            😴
                                        {% elseif reaction == 'Rêver' %}
                                            💭
                                        {% endif %}
                                {% endfor %}
                            </div>

                        {% endfor %}

                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}